<h1>activation de votre compte </h1>

<p>vous avez cree un compte sur notre site , cliquez sur lien pour activer</p>

<p>  <a href="{{ absolute_url(path('activation' , {'token': token})) }}">activer compte</a>   </p>